<template name="contact">
  <div class="contact">
    <div class="container" style="color: white; text-align: center;">
      <h3 class="slide-title-c">Contacto</h3>
      <div class="contact-divider"></div>
      <div class="container">
        <div class="row" style="margin-top: 45px;">
          <div class="col-md-4 contact-icon email">
            <span><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
            <br>
            <span>pame.aridjis@gmail.com</span>
          </div>
          <div class="col-md-4 contact-icon phone">
            <span><i class="fa fa-phone fa-2x" aria-hidden="true"></i></span>
            <br>
            <span>(+52) 55 6609 6148</span>
          </div>
          <div class="col-md-4 contact-icon location" >
            <span><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></span>
            <br>
            <span>Retorno Plateros 10B</span>
          </div>
        </div>
        <div class="row" style="margin-top: 50px;">
          <div class="col-md-6">
            <a href="#" class="icon-a twitter">
              <i style="float: right; margin-right: 60px;" class="fa fa-twitter fa-3x" aria-hidden="true"></i>
            </a>
          </div>
          <div class="col-md-6">
            <a href="#" class="icon-a facebook">
              <i style="float: left; margin-left: 60px;" class="fa fa-facebook fa-3x" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</template>
