<template name="firstSlide" >
  <div class="first-slide" id="compañia">
    <div class="container" style="height: 100vh">
      <div class="row" style="height: 100%;">
        <div class="col-md-6 slide-text-div">
          <h3 class="slide-title">Compañia</h3>
          <div class="divider"></div>
          <p class="slide-text">
            La empresa fue fundada en 2016, nuestra receta nace hace miles de años con los aztecas cuando usaban el maíz como moneda de cambio. Este producto acompaña a nuestras mesas desde entonces y es hora de conquistar America.
          </p>
        </div>
        <div class="col-md-6 slide-text-div">
          <img class="first-img" src="https://img.vimbly.com/images/full_photos/food-truck-generic-3.jpg" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>
