<template name="navbar">
  <nav id="navbar-scroll" class="navbar navbar-default navbar-fixed-top bg-white" >
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="/img/ms-logo.png" alt="" style="width: 38px; height: 38px"/>
      </a>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul id="nav-ul" class="nav navbar-nav navbar-right" style="margin-right: 50px;">
        <li class="nav-item">
          <a class="nav-link js-produccion" href="https://www.youtube.com/watch?v=LlvWJ2lg9Rg?start=12&autoplay=1">Producción</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-company" href="#compañia">Compañia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-mision" href="#mision">Misión</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#productos">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-contact" href="#contact">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</template>
