<template name="secondSlide">
  <div class="second-slide" id="mision">
    <div class="container" style="height: 100vh">
      <div class="row" style="height: 100%;">
        <div class="col-md-6">
          <img class="second-img" src="https://s-media-cache-ak0.pinimg.com/originals/63/7f/f6/637ff67cb1d0f69d5557316edd7ac46b.jpg" alt="" />
        </div>
        <div class="col-md-6 slide-text-div">
          <h3 class="slide-title">Mision</h3>
          <div class="divider"></div>
          <p class="slide-text-s">
            Llevar nuestra cultura a todo rincón y explotando la riqueza de nuestra cocina mexicana.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>
