<template name="thirdSlide">
  <div id="productos">
    <div class="container" style="height: 100vh">
      <div class="row" style="height: 100%;">
        <div class="col-md-6 slide-text-div">
          <h3 class="slide-title">Productos</h3>
          <div class="divider"></div>
          <p class="slide-text">
            Estamos preocupados por tu bien estar es por eso que cada ingrediente tiene la más alta calidad para deleitar tu paladar.
          </p>
        </div>
        <div class="col-md-6 slide-text-div" style="background-color: #fffaff;">
          <img class="third-img" src="http://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=oyJAPHIBxE8hbkW$N_dbg8$daE2N3K4ZzOUsqbU5sYuJc_9c1$ftnD8paGxPl6CQWCsjLu883Ygn4B49Lvm9bPe2QeMKQdVeZmXF$9l$4uCZ8QDXhaHEp3rvzXRJFdy0KqPHLoMevcTLo3h8xh70Y6N_U_CryOsw6FTOdKL_jpQ-&CONTENTTYPE=image/jpeg" alt="" />
        </div>
      </div>
    </div>
  </div>
</template>
